<center><h1 class="text-info text-primary">Team pages</h1></center>

<p class="text-success">Ce site a ete developper par:</p>
<div class="row">
  	<div class="col">
  		<h4 class="text-white">RAMALANJAONA Onja</h4><br>
  		<h4 class="text-white">andriatsitohainaonja@gmail.com</h4><br>
  		<h4 class="text-white">03 25 80 25</h4>
  	</div>
  	<div class="col">
  		<h4 class="text-white">Mamy ADM</h4><br>
  		<h4 class="text-white">mamy.andriamamonjisoa@gmail.com</h4><br>
  		<h4 class="text-white">03 24 09 44</h4>
  	</div>
  	<div class="col">
  		<h4 class="text-white">Franklin Hyriol</h4><br>
  		<h4 class="text-white">chrislin@gmail.com</h4><br>
  		<h4 class="text-white">03 21 45 67</h4>
  	</div>
</div>